.crane_48{
	background-image: url(../icon/crane/48x48.png) !important;
}
.crane_16{
	background-image: url(../icon/crane/16x16.png) !important;
}
.gorilla_48{
	background-image: url(../icon/gorilla/48x48.png) !important;
}
.gorilla_16{
	background-image: url(../icon/gorilla/16x16.png) !important;
}
.lord_shen_48{
	background-image: url(../icon/lord-shen/48x48.png) !important;
}
.lord_shen_16{
	background-image: url(../icon/lord-shen/16x16.png) !important;
}
.mantis_48{
	background-image: url(../icon/mantis/48x48.png) !important;
}
.mantis_16{
	background-image: url(../icon/mantis/16x16.png) !important;
}
.master_croc_48{
	background-image: url(../icon/master-croc/48x48.png) !important;
}
.master_croc_16{
	background-image: url(../icon/master-croc/16x16.png) !important;
}
.master_stormig_ox_48{
	background-image: url(../icon/master-stormig-ox/48x48.png) !important;
}
.master_stormig_ox_16{
	background-image: url(../icon/master-stormig-ox/16x16.png) !important;
}
.master_thundering_rhino_48{
	background-image: url(../icon/master-thundering-rhino/48x48.png) !important;
}
.master_thundering_rhino_16{
	background-image: url(../icon/master-thundering-rhino/16x16.png) !important;
}
.monkey_48{
	background-image: url(../icon/monkey/48x48.png) !important;
}
.monkey_16{
	background-image: url(../icon/monkey/16x16.png) !important;
}
.mr_ping_48{
	background-image: url(../icon/mr-ping/48x48.png) !important;
}
.mr_ping_16{
	background-image: url(../icon/mr-ping/16x16.png) !important;
}
.po_48{
	background-image: url(../icon/po/48x48.png) !important;
}
.po_16{
	background-image: url(../icon/po/16x16.png) !important;
}
.shifu_48{
	background-image: url(../icon/shifu/48x48.png) !important;
}
.shifu_16{
	background-image: url(../icon/shifu/16x16.png) !important;
}
.soothsayer_48{
	background-image: url(../icon/soothsayer/48x48.png) !important;
}
.soothsayer_16{
	background-image: url(../icon/soothsayer/16x16.png) !important;
}
.tigress_48{
	background-image: url(../icon/tigress/48x48.png) !important;
}
.tigress_16{
	background-image: url(../icon/tigress/16x16.png) !important;
}
.viper_48{
	background-image: url(../icon/viper/48x48.png) !important;
}
.viper_16{
	background-image: url(../icon/viper/16x16.png) !important;
}
.wolf_boss_48{
	background-image: url(../icon/wolf-boss/48x48.png) !important;
}
.wolf_boss_16{
	background-image: url(../icon/wolf-boss/16x16.png) !important;
}

/****************************************/




.address{
	background-image: url(./image/address.png) !important;
}
.good{
	background-image: url(./image/good.png) !important;
}
.goodtype{
	background-image: url(./image/goodtype.png) !important;
}
.order{
	background-image: url(./image/order.png) !important;
}
.order_detail{
	background-image: url(./image/order_detail.png) !important;
}
.notice{
	background-image: url(./image/notice.png) !important;
}
.feedback{
	background-image: url(./image/feedback.png) !important;
}
.admin{
	background-image: url(./image/admin.png) !important;
}


.icon_address{
    background-image: url(./image/icon_address.png) !important;
}
.icon_good{
    background-image: url(./image/icon_good.png) !important;
}
.icon_goodtype{
    background-image: url(./image/icon_goodtype.png) !important;
}
.icon_order{
    background-image: url(./image/icon_order.png) !important;
}
.icon_orderdetail{
    background-image: url(./image/icon_orderdetail.png) !important;
}
.icon_notice{
    background-image: url(./image/icon_notice.png) !important;
}
.icon_feedback{
    background-image: url(./image/icon_feedback.png) !important;
}
.icon_table{
    background-image: url(./image/icon_table.png) !important;
}
.icon_tree{
    background-image: url(./image/icon_tree.png) !important;
}
.icon_system{
    background-image: url(./image/icon_system.png) !important;
}
.icon_admin{
    background-image: url(./image/icon_admin.png) !important;
}
.table_remove{
	background-image: url(./image/table_remove.gif) !important;
}
.table_add{
	background-image: url(./image/table_add.png) !important;
}
.table_edit{
	background-image: url(./image/table_edit.png) !important;
}
.table_save{
	background-image: url(./image/tabel_save.png) !important;
}
.system_edit{
	background-image: url(./image/system_edit.png) !important;
}
.system_out{
	background-image: url(./image/system_out.png) !important;
}
.system_cascade{
	background-image: url(./image/system_cascade.png) !important;
}
.system_tile{
	background-image: url(./image/system_tile.png) !important;
}
.search{
	background-image: url(./image/search.gif) !important;
}
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
.table_add {
    background-image: url(./image/table/table_add.png) !important;
}
.table_remove {
    background-image: url(./image/table/table_delete.png) !important;
}
.table_edit {
    background-image: url(./image/table/table_edit.png) !important;
}
.table_save {
    background-image: url(./image/table/table_save.png) !important;
}
.tree_model_add{
    background-image: url(./image/tree/tree_model_add.png) !important;
}
.tree_folder_add{
    background-image: url(./image/tree/tree_folder_add.png) !important;
}
.tree_func_add{
    background-image: url(./image/tree/tree_func_add.png) !important;
}
.tree_root{
    background-image: url(./image/tree/tree_root.png) !important;
}
.tree_delete{
    background-image: url(./image/tree/tree_delete.png) !important;
}
.tree_ok{
    background-image: url(./image/tree/tree_ok.png) !important;
}
.tree_user_add{
    background-image: url(./image/tree/tree_user_add.png) !important;
}
.tree_user{
    background-image: url(./image/tree/tree_user.png) !important;
}
.tree_role_add{
    background-image: url(./image/tree/tree_role_add.png) !important;
}
.tree_role_delete{
    background-image: url(./image/tree/tree_role_delete.png) !important;
}
.tree_role_see{
    background-image: url(./image/tree/tree_role_see.png) !important;
}
.tree_perm_set{
    background-image: url(./image/tree/tree_perm_set.png) !important;
}
.return{
    background-image: url(./image/form/return.png) !important;
}